body {
  font-family: "Courier", monospace;
  color: white;
  background: linear-gradient(
    0.25turn,
    rgb(240, 146, 108),
    rgb(189, 67, 148),
    rgb(180, 24, 149)
  );
}
div {
  width: 80%;
  margin: 200px auto;
  padding: 60px 40px;
  background: linear-gradient(
    0.25turn,
    rgb(240, 146, 108),
    rgb(189, 67, 148),
    rgb(180, 24, 149)
  );
  box-shadow: 5px 5px 25px 5px rgb(124, 13, 13);
}
h1 {
  font-size: 3rem;
}
p {
  text-align: left;
  font-size: 2.3rem;
}

@media (max-width: 900px) {
  body {
    background: linear-gradient(
      140deg,
      rgb(240, 146, 108),
      rgb(189, 67, 148),
      rgb(180, 24, 149)
    );
  }
  div {
    background: linear-gradient(
      140deg,
      rgb(240, 146, 108),
      rgb(189, 67, 148),
      rgb(180, 24, 149)
    );
  }
}
